@CHARSET "ISO-8859-1";

body
{
	/*	background-color:#FFFFEE;	*/	
	font-size:90%;
	align:center;
/*	background-color : #FFFEF5;	*/
}

.wait
{
	cursor: wait;	
}

.completed
{
	cursor: default;
}


p
{
	text-indent:5%;	
	color : #0066CC;
}

#grid
{
	font-family:"Times new Roman", Arial, Helvetica, sans-serif;
	width:98%;
	border-collapse:collapse;
}

#grid td, #grid th 
{
	font-size:1em;
	border:1px solid rgb(220,223,251);
	padding:3px 7px 2px 7px;	
}

#grid th 
{
	font-size:1.1em;
	text-align:center;
	padding-top:5px;
	padding-bottom:4px;
	background-color:rgb(181,195,246);
	color:#000000;
}

#grid tr.alt td 
{
	color:#000000;
	background-color:rgb(247,247,247);
}

#grid tr.alt1 td 
{
	color:#000000;
	background-color:rgb(181,195,246);
}

img
{
	text-align:center;	
}

#grid tr.diff td 
{
	color:#FF0505;
	background-color:rgb(220,223,251);
	font-size: 100%;
}

#grid span.star
{
	color:#FF8080;
	/*font-family: Rupee Foradian;*/
}

#grid span.search
{
	color:#0000FF;
}

.msg
{
	background-color:#06ACAC;
	color:#FFFFFF;
	font-size:0.9em;
}

.error
{
	/*background-color:#FF0000;
	background-color:#E3A345;
	background-color:#FF5500;
	background-color:#A0A0A0;
	background-color:#E3E3E3;
	color:#800000;*/
	background-color:#FFF2F2;
	color:#FF0000;
	font-size:0.9em medium;
}

.errorEle
{
	background-color:#FF9797;
/*	background-color:#FFF2F2;*/
	color:#FFFFFF;
	font-size:0.9em;
	border: #0000FF 1px solid;
}

#grid .default
{
	background-color:#FFFFFF;
	/*font-size:0.8em;*/
	border-style:none #FFFFFF;
	border: #FFBA14 1px solid;
}

#grid tr.alt3 td 
{
	color:#000000;
	background-color:#F8B0A8;
}

#grid tr.alt4 td 
{
	color:#000000;
	background-color:#F8B0A8;
}
.linkDisable
{
	color:gray;
	text-decoration: none;
	cursor: default;
}
.linkActive
{
	color: #0080C0;
	text-decoration: underline;
	cursor: pointer;
}	
label
{
	text-align: left;
	color: #0080C0
	
}

.headerColor
{
	color:Blue;
}	
#grid tr.HO
{
	background-color:#9ADFFE;
	color:#000000; 
}

#grid tr.RN
{
	background-color:#D7F0FD;
	color:#000000; 
}

#grid tr.CL
{
	 background-color:#E8F2FE;
	color:#000000;
}

#grid tr.DN
{
	
}
div.img img
{
  display:inline;
  margin:3px;
  border:1px solid #ffffff;
}
div.img a:hover img
{
  border:1px solid #0000ff;
  float:left;
}