.table
{
     
    background-color: #DAECF6;
}

.tdH
{
     
    background-color:#B9DCFD;
}

.disab
{
    background-color: rgb(231,231,231);
}
.tdTitle
{
    background-color: rgb(255,239,181);
}

.tdB
{
    background-color: rgb(0,51,153);
}