.Heading
{
  background: rgb(211,211,211) ;
  border: 2px solid rgb(139,139,139) ;
}

.SubHeading
{
  background: rgb(150,182,158)  ;  
}
.InactiveColumn
{
  background: rgb(231,231,231) ;
}
/*.TableStyle
{
   background: rgb(228,228,228)   ;
  border: 2px solid rgb(139,139,139) ;
  border-style:hidden ;  
}*/