
.bgClass{color: black ; width: 100%; border-bottom: 1px solid Black ; padding: 0px; margin: 0px;background-color: rgb(184,188,177);}

.bgbody{background-color: rgb(249,247,236);}

/*rgb(255,247,214);*/